.about-banner img{
width: 100%;
}
.about-container{
    background-color: #eee;
}
.about-container img{
    margin:10px;
    border-radius: 10px;
}
.clients-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#eee;
    margin: 10px;
}
.single-client{
margin: 10px;
text-align: center;
}
.single-client h1{
    color: red;
}