.header-container{
display: flex;
align-items: center;
justify-content: space-between;

}
.header-container img{
    width: 160px;
}
.nav-bar{
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;

}